*{
    margin: 0px; padding: 0px;
    border: none; outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
canvas{
    border: 1.5rem solid red;
    position: absolute;
    width: 99%;
    top: 3px;
    left: 0px; 
    height: 99vh;
    
}
