* {
    margin: 0px; 
    padding: 0px;
    border: none; 
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

canvas {
    border: .5rem solid black;
    justify-content: center;
    width: 50%;
    top: 3px;
    left: 25%; 
    right: 25%;
    height: 99vh;
}

.content {
    position: absolute;
    top: 1vw; 
    right: 3vh;
    /* transform: translateX(-50%); */
    display: flex;
    gap: 10px;
}

.box {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
#speedControl{
   width: 30vh;
   
}